<h1><b>THE WORLD OF CLAIRE</h1></b>
<p><u>going crazy with html</u></p>
<i>what other command i can remember</i>

<h2>Things you might now know</h2>
<ul><li><p>I can fence with a sabre or foil</p></li>
<p><li>I have a weird allergy to pinapple</p></li>
<p><li>I had squirel try to eat my finger once</p></li></ul>
